@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5fa;
  --foreground: #0d0d14;
}

.dark {
  --background: #0d0d14;
  --foreground: #f0f0ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rajdhani), sans-serif;
}
